<!-- Header -->
<div id="header">
  <img
    src="/src/images/imagen_2024-02-19_224732403-removebg-preview.png"
    width="320"
    height="311"
  />
  <a href="/login"
    ><img
      src="../../images/bandera-de-acabado.png"
      width="40"
      height="41"
      alt="" /></a
  ><span class="image"></span>
  <h1>Hamilton EV pELUCHE tEAM&nbsp;</h1>
  <p>Equipo Mult-Disiplinario</p>
  <p>Vehiculos Electricos&nbsp;</p>
</div>

<!-- Main -->
<div id="main">
  <header class="major container medium">
    <h2>Diseño - manufactura&nbsp; &nbsp; &nbsp; &nbsp;</h2>
    <img
      src="../../images/Aesthetic Photo Collage Moodboard Neutral Feminine Style.png"
      width="1000"
      height="700"
      alt=""
    />
  </header>

  <div class="box alt container">
    <section class="feature left">
      <a href="#" class="image icon solid fa-signal"
        ><img src="../../images/pic01.jpg" alt=""
      /></a>
      <div class="content">
        <h3>Telemetria</h3>
        <p>
          Sistemas avanzados de envio y proyeccion de datos en tiempo real.
          mediante una red de datos 4G. sensorica - mantenimiento
          perventivo.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;
        </p>
      </div>
    </section>
    <section class="feature right">
      <a href="#" class="image icon solid fa-code"
        ><img src="../../images/pic02.jpg" alt=""
      /></a>
      <div class="content">
        <h3>Mecanica</h3>
        <p>
          Diseños inspirados en aeronautic. estudios mecnaicos certificados
          CSWP&nbsp; Diseños CAD CAE CAM subsistemas avanzados suspension
          direccion frenos.&nbsp; &nbsp; &nbsp; &nbsp;
        </p>
      </div>
    </section>
    <section class="feature left">
      <a href="#" class="image icon solid fa-mobile-alt"
        ><img src="../../images/pic03.jpg" alt=""
      /></a>
      <div class="content">
        <h3>Electronica</h3>
        <h4>
          <strong
            >gestionar eficiente de la energía y&nbsp; la mejor&nbsp; del
            rendimiento del vehículo. Estos sistemas incluyen controladores
            electrónicos de motor que garantizan una aceleración suave y una
            eficiencia energética óptima.</strong
          >
        </h4>
      </div>
    </section>
  </div>

  <!-- Dinosaur Game -->
  <div class="container" style="text-align: center">
    <canvas id="canvas" width="600" height="200"></canvas>
    <div id="game-over" style="display: none">
      Game Over<br />Press SPACE to Restart
    </div>
  </div>

  <footer class="major container medium">
    <h3>Conoce mas de nosotros</h3>
    <p>Redes sociales&nbsp;</p>
    <p>
      <img src="../../images/instagram.png" width="60" height="61" alt="" /><a
        href="https://www.tiktok.com/@teamhamilt_on?_t=8gGadbVaWVK&_r=1"
        >Tiktok</a
      >
    </p>
    <ul class="actions special">
      <li>
        <img src="../../images/tik-tok.png" width="45" height="46" alt="" /><a
          href="https://www.instagram.com/hamilev2023?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          >Instagram</a
        >
      </li>
    </ul>
  </footer>
</div>

<!-- Footer -->
<div id="footer">
  <div class="container medium">
    <header class="major last">
      <h2>Contactanos&nbsp;</h2>
    </header>

    <!-- <p>
      <a href="#"><p>est.miguel.benavides@unimilitar.edu.co</p></a>
    </p>
    <p>
      <a href="#"><p>est.steven.penagos@unimilitar.edu.co&nbsp</p></a>
    </p> -->
    <p>&nbsp;</p>
    <form method="post" action="#">
      <div class="row">
        <div class="col-6 col-12-mobilep"></div>
        <div class="col-6 col-12-mobilep"></div>
        <div class="col-12">
          UNIVERSIDAD Militar Nueva Granada<img
            src="../../images/Captura de pantalla 2024-02-19 230446.png"
            width="836"
            height="592"
            alt=""
          />&nbsp;Bogota Colombia Cra. 11 #101-80
        </div>
        <div class="col-12">
          <ul class="actions special">
            <li><input type="submit" value="Escribenos" /></li>
          </ul>
        </div>
      </div>
    </form>

    <ul class="icons">
      <a href="https://wa.me/573508907283"
        ><img src="../../images/whatsapp.png" width="50" height="51" alt=""
      /></a>
      <li></li>
      <li></li>
    </ul>

    <ul class="copyright">
      <li>Hamilton EV Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</div>
