<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a>
            <span class="icon"> </span>
            <span class="title">Hamilton</span>
          </a>
        </li>

        <li>
          <a>
            <span class="icon"> </span>
            <span class="title">Help</span>
          </a>
        </li>

        <li>
          <a>
            <span class="icon"> </span>
            <span class="title">Password</span>
          </a>
        </li>

        <li>
          <a (click)="logOut()">
            <span class="icon"> </span>
            <span class="title">Sign Out</span>
          </a>
        </li>

        <li>
          <a href="https://lpmssss.web.app" target="_blank">
            <span class="icon"> </span>
            <span class="title">Modelo 3D</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <!-- <ion-icon name="menu-outline"></ion-icon> -->
        </div>

        <div class="search">
          <div class="cardHeader">
            <h1>Estadisticas del Vehiculo</h1>
          </div>
        </div>

        <!-- Adicionar datos manualmente -->
        <button (click)="addElement()">Adicionar</button>

        <div class="user">
          <img src="../../assets/images/phoenixLogo.png" />
        </div>
      </div>

      <!-- ======================= Cards ================== -->
      <div class="cardBox">
        <div class="card">
          <div>
            <div class="cardName">Corriente (A)</div>
            <div class="numbers">
              {{ dataGroup.current[dataGroup.current.length - 1] }}
            </div>
          </div>

          <div class="iconBx">
            <!-- <ion-icon name="eye-outline"></ion-icon> -->
          </div>
        </div>

        <div class="card">
          <div>
            <div class="cardName">Voltaje (V)</div>
            <div class="numbers">
              {{ dataGroup.voltage[dataGroup.voltage.length - 1] }}
            </div>
          </div>

          <div class="iconBx">
            <!-- <ion-icon name="cart-outline"></ion-icon> -->
          </div>
        </div>

        <div class="card">
          <div>
            <div class="cardName">Potencia (W)</div>
            <div class="numbers">
              {{ dataGroup.power[dataGroup.power.length - 1] }}
            </div>
          </div>

          <div class="iconBx">
            <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
          </div>
        </div>

        <div class="card">
          <div>
            <div class="cardName">RPMs</div>
            <div class="numbers">
              {{ dataGroup.RPM[dataGroup.RPM.length - 1] }}
            </div>
          </div>

          <div class="iconBx">
            <!-- <ion-icon name="cash-outline"></ion-icon> -->
          </div>
        </div>
      </div>

      <!-- ================ Order Details List ================= -->
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>Graficas</h2>
          </div>

          <div>
            <app-line-cart
              [Incurrent]="dataGroup.current"
              [Indate]="dataGroup.date"
              [IndistanceKm]="dataGroup.distanceKm"
              [IndistanceMetters]="dataGroup.distanceMetters"
              [Inpower]="dataGroup.power"
              [InRPM]="dataGroup.RPM"
              [Inspeed]="dataGroup.speed"
              [Intime]="dataGroup.time"
              [Involtage]="dataGroup.voltage"
            ></app-line-cart>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
